<div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> year </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
          </ng-container>
      
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef> color </th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
          </ng-container>

          <ng-container matColumnDef="pantone_value">
            <th mat-header-cell *matHeaderCellDef> pantone_value </th>
            <td mat-cell *matCellDef="let element"> {{element.pantone_value}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</div>