<div class="container"> 

  <mat-toolbar class="justify-content-between bg-primary text-light">
    <div>Material</div>

    <div> 
      <span routerLink='home'>Home</span>
      <span routerLink='login' *ngIf="! ds.userLoginStatus">Login</span>
      <span routerLink='login' *ngIf=" ds.userLoginStatus">logout</span>
    </div>
  </mat-toolbar>
  

  <router-outlet></router-outlet>

</div>
