<div class="container">
  <div class="text-center mt-4">
   <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Debitis mollitia quisquam incidunt, quam laborum iste cupiditate velit,
      iusto ducimus, error sint repudiandae facilis. Nisi voluptatibus minus
       repellat beatae maiores ullam?</p><br>
    <h3>To see the full list click here</h3>
    <button mat-raised-button color="primary" (click)="checkUserStatus()">Primary</button>
  </div>
</div>
